{% extends 'blog/base_blog.html' %}

{% block body_title %}
    <h2>Delete Post Page</h2><br>
{% endblock %}

{% block block_menu %}
    <ul class=menu>
        <li><a href="{% url 'home_url' %}">Home</a></li>
        <li><a href="{% url 'posts_list_url' %}">Posts</a></li>
    </ul>
{% endblock %}

{% block body %}

    <form action="{% url 'post_delete_url' slug=post.slug %}" method=post>
        {% csrf_token %}

        <h3> A you sure you to wont to delete post<b>"{{ post.title|title }}"</b>? </h3>

        <a href="{% url 'post_detail_url' slug=post.slug %}">Cancel</a>
        <button type=submit>Delete</button>

    </form>

{% endblock %}